@media (max-width: 1300px) {
  header .hero {
    width: 100%;
    padding: 0 20px;
  }
  section#footer {
    padding: 40px;
  }
  #banner {
    margin: 0 20px;
  }
}
@media (max-width: 1024px) {
  header .hero .content {
    width: 60%;
  }
  .content h1 {
    font-size: 53px;
  }
  /* about part  */
  #about {
    padding: 0 10px;
  }
  #about .wrapper {
    gap: 30px;
  }
  /* my plan part start  */
  #myPlan {
    margin: 15px;
  }
  #myPlan .wrapper {
    gap: 10px;
  }
  .plan_item h2 {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  header .hero .content {
    width: 80%;
  }
  .content h1 {
    font-size: 48px;
  }
  /* about part  */
  .about_content h2 {
    font-size: 35px;
    width: 100%;
  }
  /* my plan part  */
  .plan_item img {
    height: 75px;
    width: 75px;
  }

  .plan_item h2 {
    font-size: 20px;
  }

  .plan_item h4 {
    font-size: 15px;
  }
  #myPlan .wrapper {
    flex-direction: column;
  }
  #myPlan .wrapper .plan_item {
    width: 100%;
    margin: 10px 20px;
  }
  /* banner part  */
  section#banner .content h2 {
    width: 80%;
  }
}

@media (max-width: 576px) {
  header .hero .content {
    width: 100%;
    text-align: center;
  }
  .content h1 {
    font-size: 30px;
  }
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/banner/banner3.png");
    background-position: center center;
  }
  /* about part  */
  #about .wrapper {
    flex-direction: column;
  }
  #about .about_img {
    width: 100%;
    padding: 20px;
  }
  #about .about_content {
    width: 100%;
    padding: 20px;
  }
  /* banner part  */
  section#banner .content {
    text-align: center;
  }
  section#banner .content h2 {
    width: 100%;
    font-size: 30px;
  }
  /* footer part start  */
  #footer .wrapper {
    flex-direction: column;
  }
  #footer .wrapper .footer-left {
    width: 100%;
  }
  #footer .wrapper .footer-right {
    width: 100%;
  }
}
